html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}ol,ul,nav{list-style:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}a{text-decoration:none;}input{-webkit-appearance:none;}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	padding: 15px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	color: #444;
	font-size: 16px;
	background-image: url(./all.jpg) ;
	background-attachment: fixed;
}

main {
	/*min-height: calc(100vh - 30px);*/
	background-color: rgba(255,255,255,0.8);
	padding: 25px 15px;
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
}

.title {
	font-size: 22px;
	text-align: center;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fff;
}
.subtitle {
	font-size: 12px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.table-row {
	display: flex;
	border: 1px solid #444;
	border-bottom: 1px solid transparent;
	font-size: 14px;
	padding: 20px 15px;
	background: rgb(255 255 255 / 70%);
}
.table-row:last-of-type {
	border-bottom: 1px solid #444;
}

.name.table-cell {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

.table-cell.date {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	justify-content: center;
}

.table-cell.time {
	font-size: 18px;
	font-width: 400;
	justify-content: space-around;
	margin-bottom: 20px;
}

.btn {
	text-transform: uppercase;
	border: 1px solid #a0a0a0;
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	margin: 0;
	border-radius: 0;
	/*margin-bottom: 20px;*/
	transition: .4s;
	text-align: center;
}

.btn-take-part {
	color: #fff;
	background: #d41919;
	border: 1px solid #d41919;
}

.btn-take-part:hover {
	color: #d41919;
	background: transparent;
}

.btn-submit-application  {
	color: #fff;
	background: #fbc209;
	border: 1px solid #fbc209;
}

.btn-submit-application:hover {
	color: #fbc209;
	background: transparent;
}


.btn-results {
	color: #fff;
	background: #af9e68;
	border: 1px solid #af9e68;
}

.btn-results:hover {
	color: #af9e68;
	background: transparent;
}

.table-row-block {
	flex-direction: column;
}